*.iml
.gradle
.idea/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild


.graphify/
graphify-out/
.graphify_*.json
.graphify_python

.claude/
skills/
